<footer class="footer">
  <p class="footer-call-for-subscribe">Sure, we know you want to learn more! Subscribe to our email list for updates of ES6 fun and nothing else.</p>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form action="//leapoahead.us8.list-manage.com/subscribe/post?u=f3a6e2f843ac1be03e00f7bed&amp;id=b89305710e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_f3a6e2f843ac1be03e00f7bed_b89305710e" tabindex="-1" value=""></div>
          
          <div class="row">
            <div class="col-md-">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email address" required>
            </div>
            <div class="col-md-4">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary form-control"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>