<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-frame clearfix">
        <div class="navbar-logo-wrapper">
          <div class="navbar-logo"></div>
        </div>
        <a class="navbar-brand" href="<%= url_for() %>">
          <div class="navbar-title">Powerful Parts</div>
        </a>
      </div>
    </div>
  </nav>
</header>