<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-frame clearfix">
        <div class="navbar-logo-wrapper">
          <div class="navbar-logo"></div>
        </div>
        <a class="navbar-brand" href="<%= url_for() %>">
          <div class="navbar-title">Powerful Parts</div>
        </a>
        <div class="navbar-github">
          <iframe src="https://ghbtns.com/github-btn.html?user=tjwudi&repo=es6.powerful.parts&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=tjwudi&repo=es6.powerful.parts&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
        </div>
      </div>
    </div>
  </nav>
</header>